{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["."],
        "extensions": [".tsx",".ts", ".ios.js", ".android.js"],
        "alias": {
          "palette": "./src/utilities/palette",
          "screens": "./src/screens",
          "scaling": "./src/utilities/scaling",
          "types": "./src/types",
          "language": "./src/language"
       
          

        }
      }
    ]
  ]
}
